@model IEnumerable<CMS.Models.tbl_User_Master>
@section styles{
<style>
    .valid {
        border-color: #5ed84f !important;
        padding-right: 2.75rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%235ed84f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center right -webkit-calc(0.3125em + 0.375rem);
        background-position: center right -moz-calc(0.3125em + 0.375rem);
        background-position: center right calc(0.3125em + 0.375rem);
        -webkit-background-size: -webkit-calc(0.625em + 0.75rem) -webkit-calc(0.625em + 0.75rem);
        background-size: -moz-calc(0.625em + 0.75rem) -moz-calc(0.625em + 0.75rem);
        background-size: calc(0.625em + 0.75rem) calc(0.625em + 0.75rem);
    }

        .valid:focus {
            border-color: #5ed84f;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(94, 216, 79, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(94, 216, 79, 0.25);
        }

    .input-validation-error {
        border-color: #fa626b !important;
        padding-right: 2.75rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa626b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fa626b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
        background-repeat: no-repeat;
        background-position: center right -webkit-calc(0.3125em + 0.375rem);
        background-position: center right -moz-calc(0.3125em + 0.375rem);
        background-position: center right calc(0.3125em + 0.375rem);
        -webkit-background-size: -webkit-calc(0.625em + 0.75rem) -webkit-calc(0.625em + 0.75rem);
        background-size: -moz-calc(0.625em + 0.75rem) -moz-calc(0.625em + 0.75rem);
        background-size: calc(0.625em + 0.75rem) calc(0.625em + 0.75rem);
    }

        .input-validation-error:focus {
            border-color: #fa626b;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 98, 107, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(250, 98, 107, 0.25);
        }

    .field-validation-error {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #fa626b;
    }
</style>
}
<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">User Master</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">User</a>
                    </li>
                    <li class="breadcrumb-item active">
                        List
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <!-- Revenue, Hit Rate & Deals -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recently Added</h4>
                    <a class="heading-elements-toggle">
                        <i class="fa fa-ellipsis-v font-medium-3"></i>
                    </a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a data-toggle="modal" data-target="#popModel" class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right" href="#">New User</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body p-0 pb-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Village</th>
                                        <th>Post</th>
                                        <th>Dist</th>
                                        <th>Country</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                   @foreach (var item in Model)
                                   {
                                       <tr>
                                           <td>@(i++)</td>
                                           <td>@item.name</td>
                                           <td>@item.email</td>
                                           <td>@item.mobile</td>
                                           <td>@item.village</td>
                                           <td>@item.policeStation</td>
                                           <td>@item.district</td>
                                           <td>@item.country</td>
                                           <td>
                                               <a class="btn btn-sm btn-success text-white" onclick="showModel(@item.id)">
                                                
                                                <i class="ficon ft-edit"></i>
                                                 </a>
                                           </td>
                                       </tr>
                                   }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popUpArea">
            @{
                await Html.RenderPartialAsync("_partialAddUpdateUser", new CMS.Models.tbl_User_Master());
            }
        </div>

       

        </div>

    </div>
     @section Scripts
     {
     
    <script>
        
        function showModel(id){
             $("#popUpArea").empty();
             $.ajax({
                    type: "get",
                    async:false,
                    url: "/user/GetUser/"+id,                    
                    success: function (res) {
                        $("#popUpArea").append(res);
                         $.data($("#frm"), 'validator', false);
                         $.validator.unobtrusive.parse("#frm");
                    },
                    complete:function (res) {
                        $("#popModel").modal('show');
                      
                    },
                });

        }

    </script>

    }